extends layout

block content
    //- @node-language php
    h1=(("5" + "6") === "56" ? "js" : "php")

    //- @node-language php
    +xjs()
        h2=(("5" + "6") === "56" ? "js" : "php")

    //- @node-language php
    +xphp()
        h2=(("5" + "6") === "56" ? "js" : "php")

    //- @node-language php
    h3=(("5" + "6") === "56" ? "js" : "php")